pytz
tzdata
PyNaCl
python-dateutil
pymongo
requests
Unidecode
prometheus-client
waitress
Flask
recurrent
parsedatetime
aiodns
brotlipy
cchardet
orjson
git+https://github.com/Mayerch1/discord-ext-help
git+https://github.com/Mayerch1/discord-ext-servercount