pytz
tzdata
PyNaCl
python-dateutil
pymongo
requests
Unidecode
prometheus-client
waitress
Flask
recurrent
parsedatetime
aiodns
brotlipy
validators
cchardet
orjson
py-cord==2.0.0b7
git+https://github.com/Mayerch1/discord-ext-servercount