pytz
tzdata
PyNaCl
python-dateutil
pymongo
requests
Unidecode
prometheus-client
waitress
Flask
recurrent
parsedatetime
aiodns
brotlipy
validators
cchardet
orjson
git+https://github.com/Pycord-Development/pycord
git+https://github.com/Mayerch1/discord-ext-servercount